
$s-min: 20;
$s-max: 70;
$l-min: 30;
$l-max: 90;

@for $i from 1 through 11 {
  .chart rect:nth-child(#{$i}) {
    fill: hsl(random(360),$s-min+random($s-max+-$s-min),$l-min+random($l-max+-$l-min))!important;
  }
}

